@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

.darkMode {
	color: white;
	background-color: black;
}

.links {
	color: aqua;
}

.header {
	text-align: center;
}

.tblHdr {
	color: aqua;
	padding: 1rem;;
	height: 3rem;
	border: 5px double white;
	text-align: center;
	font-size: x-large;
	font-family: cursive;
	font-weight: normal;
}

.tblRow {
	height: 3rem;
}

table {
	width:85%;
	border: 6px solid white;
}

.tblData {
	border: 5px double white;
	text-align: center;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.main {
    width: 1000px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.cardsMain {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.showCard {
	background-color: black;
	color: white;
	height:15rem;
	width: 15rem;
	border: 3px solid white;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.showImg {
	height: 5rem;
	width: 8rem;
}

.viewImg {
	height: 10rem;
	width: 16rem;
}

.dashMain {
	margin-left: 8rem;
    width: 800px;
    margin-top: 30px;
}

.viewMain {
	border: 5px solid aqua;
	border-radius: 10px;
	padding: 2rem;
	margin-left: 9.5rem;
    width: 600px;
    margin-top: 30px;
    text-align: center;
}

.viewShow {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statsCol {
	border: 5px solid aqua;
	border-radius: 10px;
	padding: 2rem;
    width: 575px;
    text-align: center;
}

.commentCol {
	border: 5px solid aqua;
	border-radius: 10px;
	padding: 2rem;
    width: 385px;
    text-align: center;
}

.welcome {
	margin-bottom: 50px;
}

.message {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.viewThoughts {
    margin-top: 0rem;
}

input {
	width: 250px;
}

.loginRow {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.editRow {
	margin-left: 3.8rem;
	width: 380px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.login {
	padding:10px;
	width: 400px;
	border: solid 4px;
	border-color: white;
}

.botBtn {
	display: flex;
	justify-content: center;
}

.loginHdr {
	margin-bottom: 30px;
	color: aqua;
	text-align: center;
	font-family: cursive;
}

.loginBtn {
	margin-top: 20px;
	width: 9rem;
	background-color: #00ffff;
	color: black;
	padding: 10px 20px;
	text-align: center;
	font-size: 16px;
	font-weight: bolder;
	border: 2px solid white;
	box-shadow: 3px 3px white;
	cursor: pointer;
}

.deleteBtn {
	margin-top: 10px;
	margin-left: 40px;
	background-color: #ec391a;
	width: 9rem;
	color: black;
	padding: 10px 20px;
	text-align: center;
	font-size: 12px;
	font-weight: bolder;
	border: 2px solid white;
	box-shadow: 3px 3px white;
	cursor: pointer;
}

.thumb {
	height: 3rem;
	width: 3rem;
	margin: 1rem;
}

.likes {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.books {
	width: 75%;
}

.title {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid black;
}

.editBtn {
	margin-top: 30px;
	background-color: #81c7f5;
	color: white;
	padding: 10px 20px;
	text-align: center;
	font-size: 16px;
	border: 2px solid black;
	box-shadow: 3px 3px black;
	cursor: pointer;
}

.bottomButton {
	display: flex;
	justify-content: flex-start;
	padding-right: 100px;
}

.thoughts {
	border: 4px solid #c0c0c0;
	border-style: double;
}

.welcomeBack {
	color: aqua;
	font-family: cursive;
	text-align: center;
}

.blueText {
	color: aqua;
	font-family: cursive;
}

.likesText {
	color: aqua;
	font-family: cursive;
	padding: 0.5rem;
}

.blueLabel {
	color: aqua;
	font-family: cursive;
	font-weight: bolder;
}

.inputBgrnd {
	background-color: #ececec;
	border: solid 3px white;
}

.errorText {
	color: red;
	margin: 0px;
	padding: 0px;
}