@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

.dark-mode {
	color: white;
	background-color: black;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.header {
	text-align: center;
}

.title {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid black;
}

.welcome {
	margin-bottom: 1rem;
}

.welcome-back {
	color: aqua;
	font-family: cursive;
	text-align: center;
}

.message {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.links {
	color: aqua;
}

.add-link {
	margin-left: 2.6rem;
	margin-top: .5rem;
	color: aqua;
}

.blue-text {
	color: aqua;
	font-family: cursive;
}

.blue-label {
	color: aqua;
	font-family: cursive;
	font-weight: bolder;
}

input {
	width: 250px;
}

.input-bgrnd {
	background-color: #ececec;
	border: solid 3px white;
}

table {
	width:100%;
	border: 6px solid white;
}

.tbl-hdr {
	color: aqua;
	padding: 1rem;;
	height: 3rem;
	border: 5px double white;
	text-align: center;
	font-size: x-large;
	font-family: cursive;
	font-weight: normal;
}

.tbl-row {
	height: 3rem;
}

.tbl-data {
	border: 5px double white;
	text-align: center;
}

.main {
    width: 1000px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.login-hdr {
	margin-bottom: 30px;
	color: aqua;
	text-align: center;
	font-family: cursive;
}

.login {
	padding:10px;
	width: 400px;
	border: solid 4px;
	border-color: white;
}

.login-row {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.dash-main {
	margin-left: 8rem;
    width: 75%;
    margin-top: 30px;
    
	border: 5px solid aqua;
	border-radius: 10px;
}

.show-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.stats-col {
	border: 5px solid aqua;
	border-radius: 10px;
	padding: 2rem;
    width: 575px;
    height: 800px;
}

.comment-col {
	border: 5px solid aqua;
	border-radius: 10px;
	padding: 2rem;
    width: 385px;
    text-align: center;
}

.show-img {
	height: 5rem;
	width: 8rem;
}

.cards-main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.show-card {
	background-color: black;
	color: white;
	height:20rem;
	width: 15rem;
	border: 3px solid white;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.view-main {
	border: 5px solid aqua;
	border-radius: 10px;
	padding: 2rem;
	margin-left: 9.5rem;
    width: 600px;
    margin-top: 30px;
    text-align: center;
}

.view-img {
	height: 10rem;
	width: 16rem;
	border: 2px solid white;
	margin-top: 1rem;
}

.view-desc {
	margin-top: 0.5rem;
	margin-left: 1rem;
}

.view-show {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-thoughts {
    margin-top: 0rem;
}

.thoughts {
	border: 4px solid #c0c0c0;
	border-style: double;
}

.likes {
	width: 13.5rem;
	margin-top: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.likes-text {
	margin: 0px;
	padding: 0px;
	color: aqua;
	font-family: cursive;
	font-size: medium;
}

.thumb-box {
	height: 3rem;
	width: 3rem;
	border: 3px solid #c0c0c0;
	border-style: outset;
	background-color: white;
}

.thumb-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.like-btn {
	height: 2.5rem;
	width: 2.5rem;
	background-image: url("/images/thumbs-up.png");
	background-repeat: no-repeat;
	background-size: 2.5rem 2.5rem;
	background-position: center;
	background-color: white;
	margin: 0px;
	border: 0px;
}

.dislike-btn {
	height: 2.5rem;
	width: 2.5rem;
	background-image: url("/images/thumbs-dn.png");
	background-repeat: no-repeat;
	background-size: 2.5rem 2.5rem;
	background-position: center;
	background-color: white;
	margin: 0px;
	border: 0px;
}

.comment-form {
	border: 5px solid aqua;
	border-radius: 10px;
	padding: 1rem;
	margin-left: 0rem;
    width: 500px;
    margin-top: 1rem;
    text-align: center;
}

.edit-row {
	margin-left: 3.8rem;
	width: 380px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.bot-btn {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.login-btn {
	margin-top: 10px;
	width: 9rem;
	background-color: #00ffff;
	color: black;
	padding: 10px 20px;
	text-align: center;
	font-size: 16px;
	font-weight: bolder;
	border: 2px solid white;
	box-shadow: 3px 3px white;
	cursor: pointer;
}

.delete-btn {
	margin-left: 40px;
	width: 9rem;
	background-color: #ec391a;
	padding: 10px;
	color: black;
	font-size: 12px;
	font-weight: bolder;
	border: 2px solid white;
	box-shadow: 3px 3px white;
	cursor: pointer;
}

.form-btn {
	margin-left: 40px;
	width: 9rem;
	background-color: #00ffff;
	padding: 10px;
	color: black;
	font-size: 12px;
	font-weight: bolder;
	border: 2px solid white;
	box-shadow: 3px 3px white;
	cursor: pointer;
}

.bottom-button {
	display: flex;
	justify-content: flex-start;
	padding-right: 100px;
}


